; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
; --- Run nav changes script (optional - remove this block to keep the map's original behavior)
; --- Change 1: Lets bots run through the burning corridor instead of going around it
; --- Change 2: Same for the fire right before it in the same corridor
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "director,RunScriptFile,nav_changes/c1m1_hotel_navchanges,20,-1"
}
