; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
; --- Run nav fixes script
; --- Fix 1: Fixes mall corridor point of no return
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "director,RunScriptFile,nav_fixes/c1m3_mall_navfixes,20,-1"
}
